<%= form_with model: url_link do |form| %>
  <div>
    <%= form.url_field :url, required: true, autofocus: true, placeholder: "https://example.com" %>
    <%= form.submit "Save" %>
  </div>
<% end %>
