/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "https://unpkg.com/open-props";

body {
    font-family: var(--font-sans);
    font-size: var(--font-size-3);
    max-width: 1440px;
}

a {
    text-decoration: none;
}

main {
    margin: 0 auto;
    width: 80%;
}

h1 {
    max-inline-size: var(--size-header-2);
}

input[type=submit] {
    border: none;
    border-radius: var(--radius-2);
    background-color: var(--violet-6);
    color: white;
    text-transform: uppercase;
    margin-top: var(--size-2);
    padding: var(--size-2);
}

svg {
    width: 20px;
    height: 20px;
}

.edit-links {
    display: flex;
    gap: 1em;
    margin-top: var(--size-3)
}


.edit-links a {
    text-decoration: none;
}

.edit-links form button {
    border: none;
    border-radius: var(--radius-2);
    background-color: var(--violet-6);
    color: white;
    text-transform: uppercase;
    padding: var(--size-2);
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


input[type="url"] {
    margin-right: 0.5em;
    padding: 0.8em 1em;
    width: 670px;
}


input[type="submit"] {
    margin-bottom: 0.5em;
    padding: 1.1em 1.5em;
    border: none;
    border-radius: var(--radius-2);
    background-color: var(--green-8);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--font-weight-7);
    cursor: pointer;
}

.alert {
    background-color: var(--yellow-3);
    color: var(--yellow-10);
    padding: var(--size-2);
    border: none;
    border-radius: var(--radius-2);
    width: 100%;
}

.notice {
    background-color: var(--green-3);
    color: var(--green-10);
    padding: var(--size-2);
    border: none;
    border-radius: var(--radius-2);
    width: 100%;
}

.links {
    margin-top: var(--size-3);
}

.link-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 4em;
    padding: var(--size-7);
    align-items: center;
}

.link-url {
    grid-column: span 5;
}

.link-views {
    grid-column: span 2;
    font-size: var(--font-size-1);
    text-align: center;
    background-color: var(--gray-1);
    padding: var(--size-2);
    border-radius: var(--radius-2);
}

.link-copy {
    font-size: var(--font-size-1);
    text-align: center;
    background-color: var(--gray-1);
    padding: var(--size-2);
    border-radius: var(--radius-2);
}

.link-graph {
    display: flex;
    justify-content: space-between;
}

.link-domain {
    display: inline-block;
}

.link-title,
.link-description {
    font-size: var(--font-size-1);
    color: var(--gray-7)
}