/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "https://unpkg.com/open-props";

body {
    font-family: var(--font-sans);
    font-size: var(--font-size-3)
}

h1 {
    max-inline-size: var(--size-header-2);
}

input[type=submit] {
    border: none;
    border-radius: var(--radius-2);
    background-color: var(--violet-6);
    color: var(--sand-1);
    padding: var(--size-2);
}

svg {
    width: 24px;
    height: 24px;
}